# Build artifacts
*.o
*.obj
*.exe
*.out
*.a
*.so
pricer
pricer.exe

# Build directories
build/
cmake-build-*/

# IDE / Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db


# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
